* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.bg {
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    background-image: url('../aula005/imagens/praia.avif');
    background-color: red;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.box {
    width: 900px;
    height: 2000px;
    background-color: darkgray;
}